body
{
    padding-top: 70px;
	background: #e3edf9; /* Old browsers */
	background: -moz-linear-gradient(left,  #e3edf9 0%, #ffffff 15%, #ffffff 85%, #e3edf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3edf9), color-stop(15%,#ffffff), color-stop(85%,#ffffff), color-stop(100%,#e3edf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e3edf9 0%,#ffffff 15%,#ffffff 85%,#e3edf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e3edf9 0%,#ffffff 15%,#ffffff 85%,#e3edf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e3edf9 0%,#ffffff 15%,#ffffff 85%,#e3edf9 100%); /* IE10+ */
	background: linear-gradient(to right,  #e3edf9 0%,#ffffff 15%,#ffffff 85%,#e3edf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3edf9', endColorstr='#e3edf9',GradientType=1 ); /* IE6-9 */
}

.navbar-brand
{
    font-style: italic;
    font-weight: bold;
}

.nav-tabs, .nav-tabs>li.active>a, .nav-tabs>li.active>a:HOVER, .nav-tabs>li.active>a:FOCUS
{
	border: none;
}

.wizard_button_next
{
	float: right;
	margin-top: 2em;
}

.wizard_button_prev
{
	float: left;
	margin-top: 2em;
}

.wizard_image_next
{
	padding-left: 1em;
}

.wizard_image_prev
{
	padding-right: 1em;
}

.directoryinput-field
{
    margin-top: 1em;
}

.fileinput-button
{
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}

.fileinput-button input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9
{
    .fileinput-button input
    {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

table.file_list
{
	margin-top: 1em;
	width: 100%
}

table.file_list tr td
{
	vertical-align: middle;
	padding: 2px;
}

table.file_list tr td.right
{
	text-align: right;
}

table.file_list tr:nth-child(even)
{
	background-color: #e9f3ff;
}

.upload_form_button
{
    margin-top: 1em;
}

#files_drop_zone,#template_drop_zone
{
    margin-top: 1em;
    border: 2px dashed #bbb;
    border-radius: 5px;
    color: #bbb;
    padding: 25px;
    text-align: center;
}

.thing_form
{
    min-width: 100%;
    display: inline-block;
}

.thing_form_list
{
	list-style: none;
	padding: 0;
	margin: 20px;
}

.thing_form_item
{
    line-height: 20px;
    margin: 5px;
}

#thing_form input
{
    background-color: #e3edf9;
}
.thing_form_input
{
    background-color: #e3edf9;
    box-shadow: 1px 1px 0 #cccccc inset;
    display: inline-block;
    width: 75%;
    float: right;
}

.thing_form_label
{
    display: inline-block;
    min-width: 25%;
    padding-right: 8px;
    text-align: right;
    width: auto;
}

.thing_form_left
{
    display: inline-block;
    min-width: 25%;
    padding-right: 8px;
    padding-bottom: 5px;
    text-align: right;
    width: auto;
}

.thing_form_right
{
    display: inline-block;
    width: 75%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loginform
{
	 padding: 10px;
	 background: #ddd;
}

.ok
{
    color: green;
    font-size: 1.5em;
    padding: 10px;
}

#remember_me, #automatic_login
{
	display: inherit;
}

#remember,#autologin
{
	float: right;
}

#remember_label
{
	display: inline;
}

.thing_property_list
{
	list-style: none;
	padding: 0;
	margin: .5em;
}

.thing_list_item
{
    border: 5px solid #e3edf9;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.thing_list_item h5
{
	text-decoration: underline;
	font-weight: bold;
}

.fineprint
{
	font-size: x-small;
}

.database_list
{
	list-style: none;
}

.database_item
{
    position: relative;
    display: block;
    padding: 10px 15px;
    text-align: right;
}

.database_list .current
{
    background: white;
}

.marginleft
{
	margin-left: 10px !important;
}

.edit_id
{
	color: orange;
}

.delete_id
{
	color: red;
}

.publish_id
{
	color: purple;
}

.transfer_id
{
	color: blue;
}

.edit_id,.delete_id,.publish_id,.transfer_id
{
	cursor: pointer;
}

.dropdown-menu.pull-right
{
	right: auto;
}

/* Styling for Chooser component */

.chooser-label
{
	visibility: hidden;
}

.chooser-label:first-child
{
	visibility: inherit;
}

.form-group > div
{
	margin-bottom: 5px;
}

.form-group > div:last-child
{
	margin-bottom: 0;
}

/* home: don't show long links */
.attachment
{
	overflow: hidden;
}

/* home: horizontal list of tags */
ul.tags li
{
	display: inline-block;
	margin-right: 10px;
}
