{{!
    <link rel="stylesheet" href="../../css/static/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/things.css">
}}
                <h1>Thing Importer</h1>
                <p>
                    <strong>Import a <em>Thing</em> from Thingiverse.</strong>
                </p>
                Steps involved:
                <ul>
                    <li>Set up the local <em>things</em> system to accept exported things.</li>
                    <li>Add a user script to your browser to export things.</li>
                    <li>Navigating within the Thingiverse site to the thing desired and pushing a button.</li>
                    <li>Moving the imported thing into the local <em>things</em> database.</li>
                    <li>Publishing the thing if desired.</li>
                </ul>