<h2>Set up for Importing</h2>

<p>To import a thing requires a number of configuration steps in the <em>things</em> system prior to
visiting the page on Thingiverse and performing the actual import.</p>
<p>The preconfiguration required is:</p>
<ul>
    <li>Create the <em>pending</em> things database, with unencumbered write access.</li>
    <li>Enable CORS support in the local CouchDB, with the PUT accept method and Thingiverse as an allowed site.</li>
    <li>Install a user script in your browser (either Chrome or Firefox) that performs the import.</li>
</ul>

<div id="import_setup_form" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label" for="database_name">Name of import database</label>
        <div class="col-sm-9">
            <input id="database_name" class="form-control" type="text" form="import_setup_form" name="database_name" placeholder="{{database}}" value="{{database}}" disabled>
            <div class="thing_form_right">(currently fixed, because it gets hard-coded in the user script)</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="create_import_database_button">
        </label>
        <div class="col-sm-9">
            <button id="create_import_database_button" class="btn btn-primary start" type="submit">
                <i class="glyphicon glyphicon-oil" aria-hidden="true"></i>
                <span>Create database</span>
            </button>
            <span id="import_database_created" class="hidden">
                <span class="glyphicon glyphicon-ok ok" aria-hidden="true"></span>
                <span>Database exists</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="cors_enabled">CORS enabled</label>
        <div class="col-sm-9"><span id="cors_enabled" class="form-control"></span></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="cors_methods">CORS methods</label>
        <div class="col-sm-9"><span id="cors_methods" class="form-control"></span></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="cors_origins">CORS origins</label>
        <div class="col-sm-9"><span id="cors_origins" class="form-control"></span></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="configure_cors_button">
        </label>
        <div class="col-sm-9">
            <button id="configure_cors_button" class="btn btn-primary start" type="submit">
                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                <span>Configure CORS</span>
            </button>
            <span id="cors_configured" class="hidden">
                <span class="glyphicon glyphicon-ok ok" aria-hidden="true"></span>
                <span>CORS is set up correctly.</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="thingiverse_user_scripted">User script installed</label>
        <div class="col-sm-9"><span id="thingiverse_user_scripted" class="form-control"></span></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="download_user_script_button">
        </label>
        <div class="col-sm-9">
            <a id="script_link" href="TBD">
                <button id="download_user_script_button" class="btn btn-primary start">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    <span>Download user script</span>
                </button>
            </a>
            <span id="scripted" class="hidden">
                <span class="glyphicon glyphicon-ok ok" aria-hidden="true"></span>
                <span>User script for http://thingiverse.com is installed correctly.</span>
            </span>
        </div>
    </div>
</div>
<div id="thingiverse_section"></div>

