
                <h1>Thing Maker</h1>
                <p>
                    <strong>Create a distributed <em>Thing</em> using the BitTorrent network.</strong>
                </p>
                The idea behind the Thing Maker is to use <a href="https://en.wikipedia.org/wiki/Bittorrent">BitTorrent</a>
                to distribute <a href="http://thingtracker.net/">Thing Tracker things</a>. <br>
                A short overview of the idea can be found <a href="http://my.brainshark.com/Distributed-Thing-Tracker-767853647">here</a>. <br> <br>
                This wizard helps with the steps of the process shown below:
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   viewBox="0 0 926.6875 242.21875"
   id="svg2">
  <defs
     id="defs4" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(65.4375,-44.34375)"
     id="layer1">
    <text
       x="398.88214"
       y="190.07648"
       id="text3755-7"
       xml:space="preserve"
       style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
         x="398.88214"
         y="190.07648"
         id="tspan3757-4"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Step 3.</tspan><tspan
         x="398.88214"
         y="210.07648"
         id="tspan3763-9"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Add or update</tspan><tspan
         x="398.88214"
         y="230.07648"
         id="tspan3797"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
   id="tspan3107"
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:FreeSans;-inkscape-font-specification:FreeSans">Thing </tspan>metadata</tspan><tspan
         x="398.88214"
         y="250.07648"
         id="tspan3937"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">by filling the form.</tspan></text>
    <text
       x="773.56573"
       y="196.4241"
       id="text3755-7-8"
       xml:space="preserve"
       style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
         x="773.56573"
         y="196.4241"
         id="tspan3797-4"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Step 5.</tspan><tspan
         x="773.56573"
         y="216.4241"
         id="tspan3835"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Seed and publish</tspan><tspan
         x="773.56573"
         y="236.4241"
         id="tspan3121"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">your <tspan
   id="tspan3837"
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:FreeSans;-inkscape-font-specification:FreeSans">Thing</tspan>.</tspan></text>
    <rect
       width="137.13605"
       height="99.2789"
       ry="1.9259558"
       x="-44.286758"
       y="166.14178"
       id="rect2985-17"
       style="fill:none;stroke:#008080;stroke-width:2.2925272;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       x="26.331375"
       y="196.4241"
       id="text3755-4"
       xml:space="preserve"
       style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
         x="26.331375"
         y="196.4241"
         id="tspan3757-0"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Step 1.</tspan><tspan
         x="26.331375"
         y="216.4241"
         id="tspan3079"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Select the files</tspan><tspan
         x="26.331375"
         y="236.4241"
         id="tspan3935"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">for your <tspan
   id="tspan3115"
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:FreeSans;-inkscape-font-specification:FreeSans">Thing</tspan>.</tspan></text>
    <rect
       width="137.13605"
       height="99.2789"
       ry="1.9259558"
       x="328.64178"
       y="166.14178"
       id="rect2985-17-5"
       style="fill:none;stroke:#008080;stroke-width:2.2925272;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <rect
       width="137.13605"
       height="99.2789"
       ry="1.9259558"
       x="702.96326"
       y="164.71321"
       id="rect2985-17-51"
       style="fill:none;stroke:#008080;stroke-width:2.2925272;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <g
       transform="translate(10,0)"
       id="g3047">
      <path
         d="m 456.5279,219.57647 230.39002,0"
         id="path3843-5"
         style="fill:none;stroke:#008080;stroke-width:2.70000005;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(0.16847952,0.98570515,-0.98570515,0.16847952,712.50264,-25.031795)"
         id="path3845-1"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <text
         x="572.62665"
         y="89.209808"
         id="text3755-7-8-1"
         xml:space="preserve"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
           x="572.62665"
           y="89.209808"
           id="tspan3797-4-7"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Step 4.</tspan><tspan
           x="572.62665"
           y="109.20981"
           id="tspan3835-4"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Optionally</tspan><tspan
           x="572.62665"
           y="129.20981"
           id="tspan3939"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">sign your</tspan><tspan
           x="572.62665"
           y="149.20981"
           id="tspan3121-0"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
   id="tspan3837-9"
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:FreeSans;-inkscape-font-specification:FreeSans">Thing</tspan>.</tspan></text>
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(0.16847952,0.98570515,-0.98570515,0.16847952,523.56359,-124.24608)"
         id="path3845-1-4"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <rect
         width="137.13605"
         height="99.2789"
         ry="1.9259558"
         x="504.0242"
         y="65.498932"
         id="rect2985-17-51-5"
         style="fill:none;stroke:#008080;stroke-width:2.2925272;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 455.99555,219.55033 15.98477,0.0217 0.42214,-99.30722 c 7.36144,-0.12642 14.93848,-0.12642 23.42349,-0.12642"
         id="path3893"
         style="fill:none;stroke:#008080;stroke-width:2.70171595;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:5.40343205, 2.70171603;stroke-dashoffset:0" />
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(-0.98570515,0.16847952,-0.16847952,-0.98570515,910.6125,239.2834)"
         id="path3845-1-4-1"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 681.78538,219.54778 -15.98477,0.0217 -0.42214,-99.30722 c -7.36144,-0.12642 -14.93848,-0.12642 -23.42349,-0.12642"
         id="path3893-5"
         style="fill:none;stroke:#008080;stroke-width:2.70171595;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:5.40343205, 2.70171603;stroke-dashoffset:0" />
    </g>
    <g
       transform="translate(-363.42021,1.639088)"
       id="g3047-1">
      <path
         d="m 456.5279,219.57647 230.39002,0"
         id="path3843-5-7"
         style="fill:none;stroke:#008080;stroke-width:2.70000005;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(0.16847952,0.98570515,-0.98570515,0.16847952,712.50264,-25.031795)"
         id="path3845-1-40"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <text
         x="572.62665"
         y="89.209808"
         id="text3755-7-8-1-9"
         xml:space="preserve"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:FreeSans;-inkscape-font-specification:FreeSans"><tspan
           x="572.62665"
           y="89.209808"
           id="tspan3121-0-2"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Step 2.</tspan><tspan
           x="572.62665"
           y="109.20981"
           id="tspan3129"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">Provide any prior</tspan><tspan
           x="572.62665"
           y="129.20981"
           id="tspan3131"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">version Thing file</tspan><tspan
           x="572.62665"
           y="149.20981"
           id="tspan3133"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:FreeSans;-inkscape-font-specification:FreeSans">as a template.</tspan></text>
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(0.16847952,0.98570515,-0.98570515,0.16847952,523.56359,-124.24608)"
         id="path3845-1-4-5"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <rect
         width="137.13605"
         height="99.2789"
         ry="1.9259558"
         x="504.0242"
         y="65.498932"
         id="rect2985-17-51-5-5"
         style="fill:none;stroke:#008080;stroke-width:2.2925272;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 455.99555,219.55033 15.98477,0.0217 0.42214,-99.30722 c 7.36144,-0.12642 14.93848,-0.12642 23.42349,-0.12642"
         id="path3893-1"
         style="fill:none;stroke:#008080;stroke-width:2.70171595;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:5.40343205, 2.70171603;stroke-dashoffset:0" />
      <path
         d="m 239.40616,67.511834 -2.52477,-0.436357 -2.52478,-0.436357 1.64028,-1.96834 1.64029,-1.96834 0.88449,2.404697 z"
         transform="matrix(-0.98570515,0.16847952,-0.16847952,-0.98570515,910.6125,239.2834)"
         id="path3845-1-4-1-7"
         style="fill:none;stroke:#008080;stroke-width:3;stroke-linecap:butt;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         d="m 681.78538,219.54778 -15.98477,0.0217 -0.42214,-99.30722 c -7.36144,-0.12642 -14.93848,-0.12642 -23.42349,-0.12642"
         id="path3893-5-1"
         style="fill:none;stroke:#008080;stroke-width:2.70171595;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:5.40343205, 2.70171603;stroke-dashoffset:0" />
    </g>
  </g>
</svg>

