{{!
    <link rel="stylesheet" href="../../css/static/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/things.css">
}}
<h1>Thing Maker</h1>
<p>
    <strong>Create a distributed <em>Thing</em> using the BitTorrent network.</strong>
</p>
<p>
The idea behind the Thing Maker is to use <a href="https://en.wikipedia.org/wiki/Bittorrent">BitTorrent</a>
to distribute <a href="http://thingtracker.net/">Thing Tracker things</a>. <br>
A short overview of the idea can be found <a href="http://my.brainshark.com/Distributed-Thing-Tracker-767853647">here</a>.
</p>
<p>
This wizard helps with the steps of the process shown below:
</p>
<img src="img/thingmaker.svg" alt="thing maker process diagram">
